html,
body{
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 20px;
	height: 100vh;
	overflow-x: hidden;
	background: $black;
	color: $white;
}

a{
	cursor: pointer;
	color: $white;
}

button{
	cursor: pointer;
}

header,
footer{
	align-items: center;
}

header,
footer,
.skills,
.projects,
.skills-languages{
	width: 100vw;
	padding: 30px 14vw;
	display: flex;
}

.skills,
.projects,
.skills-languages{
	margin-top: 100px;
}

.title{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.96px;
	background: $gradient;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin-bottom: 60px;
}
