html,
body{
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 20px;
	height: 100vh;
	overflow-x: hidden;
	background: $black;
	color: $white;
}

a{
	cursor: pointer;
	color: $white;
}

button{
	cursor: pointer;
}

header,
footer{
	width: 100vw;
	padding: 30px 14vw;
	display: flex;
	align-items: center;
}

