@media (max-width: 1440px) {
   body {
      font-size: 18px;
   }
}

@media (max-width: 1040px) {
   body {
      font-size: 16px;
   }
}

@media (max-width: 1440px) {
   header,
   footer,
   .skills,
   .projects,
   .skills-languages,
   .about-education,
   .project-overview,
   .project,
   .result {
      width: 100vw;
      padding: 30px 6vw;
   }
}

@media (max-width: 1040px) {
   header,
   footer,
   .skills,
   .projects,
   .skills-languages,
   .about-education,
   .project-overview,
   .project,
   .result {
      width: 100vw;
      padding: 20px 4vw;
   }
}

@media (max-width: 1040px) {
   .footer {
      margin-bottom: 40px;
      margin-top: 80px;
   }
}

@media (max-width: 768px) {
   .footer {
      margin-top: 60px;
   }
}


@media (max-width: 1040px) {
   .title {
      font-size: 34px;
      text-align: center;
      margin-bottom: 40px;
   }
}

@media (max-width: 768px) {
   .title {
      font-size: 28px;
      text-align: center;
      margin-bottom: 30px;
   }
}

@media (max-width: 768px) {
   .projects,
   .skills-languages,
   .about-education,
   .education,
   .languages {
      margin-top: 50px;
   }
}

@media (max-width: 768px) {
   .skills {
      margin-top: 140px;
   }
}


@media (max-width: 1440px) {
   .nav__list,
   .footer__nav-list {
      width: 50vw;
   }
}

@media (max-width: 1040px) {
   .nav__list {
      width: 100vw;
   }
}

@media (max-width: 1040px) {
   .footer__navigation {
      display: none;
   }
}

@media (max-width: 1040px) {
   .header__menu {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      height: 100vh;
      padding: 50px;
      transform: translateY(-100vh);
      transition: all 0.6s ease;
      padding: 30px;
      position: fixed;
      width: 100vw;
      top: 0px;
      left: 0px;
      z-index: 12;
      background: $black;
   }
}

@media (max-width: 1040px) {
   .header__logo {
      order: 1;
      font-size: 18px;
      width: 110px;
   }
}

@media (max-width: 1040px) {
   .header__language-switcher {
      order: 3;
   }
}

@media (max-width: 1040px) {
   .header__burger {
      order: 2;
   }
}

@media (max-width: 1040px) {
   .header__burger,
   .header__close {
      display: block;
   }
}

@media (max-width: 1040px) {
   .header__menu.show {
      transform: translateY(0vh);
      transition: all 0.6s ease;
   }
}

@media (max-width: 1040px) {
   .nav__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
}

@media (max-width: 1040px) {
   .nav__link {
      font-size: 30px;
   }
}

@media (max-width: 1040px) {
   .language-switcher__button {
      font-size: 20px;
   }
}

@media (max-width: 1240px) {
   .hero {
      width: 100vw;
      padding: 80px 6vw;
   }
}

@media (max-width: 1040px) {
   .hero {
      width: 100vw;
      padding: 0px 6vw;
   }
}

@media (max-width: 767px) {
   .hero {
      transform: translateY(-30px);
   }
}

@media (max-width: 390px) {
   .hero {
      transform: translateY(-40px);
   }
}

@media (max-width: 1240px) {
   .hero__name {
      height: 330px;
      width: 400px;
   }
}

@media (max-width: 1040px) {
   .hero__name {
      height: 280px;
      width: 360px;
      align-items: center;
   }
}

@media (max-width: 390px) {
   .hero__name {
      height: 250px;
      width: 100%;
   }
}

@media (max-width: 390px) {
   .hero__email {
      display: none!important;
   }
}

@media (max-width: 1240px) {
   .hero__title {
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.1em;
   }
}

@media (max-width: 1040px) {
   .hero__title {
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
}

@media (max-width: 390px) {
   .hero__title {
      font-size: 36px;
   }
}


@media (max-width: 1040px) {
   .hero__inner {
      align-items: center;
      gap: 10px;
   }
}

@media (max-width: 768px) {
   .hero__inner {
      gap: 26px;
      justify-content: space-between;
      flex-direction: column-reverse;
   }
}

@media (max-width: 390px) {
   .hero__inner {
      gap: 20px;
   }
}

@media (max-width: 1240px) {
   .hero__image {
      height: 300px;
   }
}

@media (max-width: 1040px) {
   .hero__image {
      height: 280px;
   }
}

@media (max-width: 390px) {
   .hero__image {
      height: 240px;
   }
}

@media (max-width: 390px) {
   .hero__image-bg {
      height: 200px;
      width: 200px;
   }
}

@media (max-width: 1240px) {
   .hero__social-link:nth-child(1) {
      top: 100px;
      left: -170px;
   }
}

@media (max-width: 1240px) {
   .hero__social-link:nth-child(2) {
      top: -20px;
      left: 50px;
   }
}

@media (max-width: 1240px) {
   .hero__social-link:nth-child(3) {
      top: 140px;
      left: 160px;
   }
}

@media (max-width: 1040px) {
   .hero__social-link {
      display: none;
   }
}

@media (max-width: 1040px) {
   .hero__actions {
      gap: 20px;
   }
}

@media (max-width: 390px) {
   .hero__action {
      display: flex;
      padding: 18px 38px;
      justify-content: center;
   }
}

@media (max-width: 390px) {
   .hero__actions {
      flex-direction: column;
      gap: 20px;
   }
}

@media (max-width: 390px) {
   .footer {
      gap: 30px;
   }
}

@media (max-width: 1040px) {
   .footer__email {
      font-size: 32px;
   }
}

@media (max-width: 768px) {
   .footer__email {
      font-size: 24px;
   }
}

@media (max-width: 490px) {
   .footer__email {
      font-size: 18px;
   }
}

@media (max-width: 1040px) {
   .footer__socials {
      justify-content: space-evenly;
      width: 50%;
      margin-top: 120px;
   }
}

@media (max-width: 768px) {
   .footer__socials {
      justify-content: space-between;
      width: 70%;
      margin-top: 100px;
   }
}

@media (max-width: 1040px) {
   .footer__social-link {
      padding: 10px;
   }
}

@media (max-width: 390px) {
   .footer__social-icon {
      height: 30px;
   }
}

@media (max-width: 1040px) {
   .hero__skills--footer-marquee {
      margin-top: 10px;
      transform: rotate(2deg);
   }
}

@media (max-width: 768px) {
   .hero__skills--footer-marquee {
      margin-top: 0px;
      transform: rotate(3deg);
   }
}

@media (max-width: 1040px) {
   .hero__skills--header-marquee {
      bottom: -45px;
   }
}

@media (max-width: 768px) {
   .hero__skills--header-marquee {
      bottom: -85px;
   }
}


@media (max-width: 1440px) {
   .skills__item {
      width: 28vw;
      padding: 19px 20px;
   }
}

@media (max-width: 1040px) {
   .skills__item {
      width: 28vw;
      padding: 19px 20px;
   }
}

@media (max-width: 768px) {
   .skills__item {
      width: 44vw;
      padding: 19px 20px;
   }
}

@media (max-width: 390px) {
   .skills__item {
      width: 90vw;
      text-align: center;
      padding: 10px 20px;
      border: 1px solid var(--light, rgba(235, 235, 235, 0.4));
   }
}

@media (max-width: 390px) {
   .skills__list {
      row-gap: 8px;
   }
}

@media (max-width: 1240px) {
   .projects__item {
      width: 30%;
   }
}

@media (max-width: 768px) {
   .projects__item {
      width: 40%;
   }
}

@media (max-width: 490px) {
   .projects__item {
      width: 80%;
   }
}

@media (max-width: 768px) {
   .projects__container {
      justify-content: space-evenly;
   }
}

@media (max-width: 768px) {
   .projects__container {
      justify-content: space-evenly;
   }
}

@media (min-width: 1040px) {
   .projects__item:hover {
      transform: translateY(-10px);
      transition: transform 0.3s linear;
   }
}

@media (max-width: 768px) {
   .skills-languages,
   .about-education {
      flex-direction: column;
      gap: 20px;
   }
}

@media (max-width: 1440px) {
   .soft-skills,
   .about-me {
      width: 57%;
   }
}

@media (max-width: 1440px) {
   .languages,
   .education {
      width: 40%;
   }
}

@media (max-width: 1740px) {
   .education__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
   }
}

@media (max-width: 1740px) {
   .education__time,
   .education__institution {
      font-size: 14px;
      font-weight: 300;
      width: 80%;
   }
}

@media (max-width: 768px) {
   .education__time,
   .education__institution {
      width: 100%;
   }
}

@media (max-width: 1140px) {
   .soft-skills,
   .about-me {
      width: 59%;
      padding: 20px 10px;
   }
}

@media (max-width: 1140px) {
   .languages,
   .education {
      width: 38%;
      padding: 20px 10px;
   }
}

@media (max-width: 1140px) {
   .languages__level {
      position: relative;
   }
}

@media (max-width: 1140px) {
   .languages__lavel-text {
      position: absolute;
      top: -40px;
      right: 0;
   }
}

@media (max-width: 768px) {
   .languages,
   .soft-skills,
   .about-me,
   .education {
      align-items: center;
      width: 90%;
      &-bg:nth-child(2n + 1) {
         display: none;
      }
      &-bg:nth-child(2n) {
         display: none;
      }
   }
}

@media (max-width: 768px) {
   .languages__item {
      align-items: normal;
   }
}

@media (max-width: 768px) {
   .soft-skills__list,
   .about-me__content {
      margin-left: 10px !important;
      width: 100%;
   }
}

@media (max-width: 768px) {
   .skills-marquee__track {
      transform: rotate(-1.7deg);
      margin-top: -20px;
      display: flex;
      border-top: dashed 2px $green;
      border-bottom: dashed 2px $green;
      padding: 10px 0;
   }
}



@media (max-width: 768px) {
   .skills-marquee__skill {
      &::before {
         content: "";
         display: inline-block;
         width: 6px;
         height: 2px;
         background-color: $green;
         margin: 0 8px;
      }
   }
}

@media (min-width: 1440px){
   .project-overview__title{
      width: 70%;
   }
}

@media (max-width: 1240px){
   .project-overview-wrapper{
      width: 40%;
      gap: 30px;
   }
}

@media (max-width: 1240px){
   .project-overview__header{
      gap: 20px;
   }
}

@media (max-width: 1240px){
   .project-overview__image-container{
      width: 60%;
   }
}

@media (max-width: 1240px){
   .project-overview__subtitle{
      font-size: 20px;
      width: 90%;
   }
}

@media (max-width: 1240px){
   .project-overview__link,
   .project-overview__technologies-title,
   .project-overview__technologies-item{
      font-size: 20px;
   }
}

@media (max-width: 1240px) {
   .project-overview__title {
      font-size: 34px;
   }
}

@media (max-width: 1040px) {
   .project-overview__title {
      font-size: 26px;
   }
}

@media (max-width: 768px) {
   .project-overview__title{
      font-size: 28px;
   }
}

@media (max-width: 1040px){
   .project-overview-wrapper{
      width: 45%;
      gap: 30px;
   }
}

@media (max-width: 1040px){
   .project-overview__header{
      gap: 20px;
   }
}

@media (max-width: 1040px){
   .project-overview__image-container{
      width: 55%;
   }
}

@media (max-width: 1040px){
   .project-overview__subtitle{
      font-size: 16px;
      width: 90%;
   }
}

@media (max-width: 1040px){
   .project-overview-icon-svg{
      height: 26px;
   }
}

@media (max-width: 1040px){
   .project-overview__technologies-title,
   .project-overview__technologies-item{
      font-size: 16px;
   }
}

@media (max-width: 1240px) {
   .project-overview__title {
      font-size: 34px;
   }
}

@media (max-width: 1040px) {
   .project-overview__title {
      font-size: 26px;
   }
}

@media (max-width: 490px) {
   .project-overview__title{
      font-size: 22px;
      text-align: center;
   }
}

@media (max-width: 490px) {
   .project-overview__title::after{
      left: 20%;
   }
}


@media (max-width: 768px){
   .project-preview{
      align-items: flex-end;
   }
}

@media (max-width: 768px){
   .project-overview-wrapper{
      width: 30%;
      gap: 30px;
   }
}

@media (max-width: 768px){
   .project-overview__header{
      gap: 20px;
      width: 500px;
   }
}

// @media (max-width: 768px){
//    .project-overview-wrapper{
//       align-items: center;
//    }
// }

@media (max-width: 490px){
   .project-overview__header{
      align-items: center;
      gap: 20px;
      width: 100%;
   }
}

@media (max-width: 768px){
   .project-overview__image-container{
      width: 55%;
   }
}

@media (max-width: 768px){
   .project-overview__subtitle{
      font-size: 16px;
      width: 90%;
   }
}

@media (max-width: 490px){
   .project-overview__subtitle{
      text-align: center;
   }
}

@media (max-width: 768px){
   .project-overview-icon-svg{
      height: 26px;
   }
}


@media (max-width: 490px){
   .project-preview{
      flex-direction: column;
      gap: 30px;
      margin-top: 40px;
   }
}

@media (max-width: 490px){
   .project-overview-wrapper{
      width: 100%;
      gap: 30px;
   }
}

@media (max-width: 490px){
   .project-overview__header{
      gap: 20px;
      width: 340px;
   }
}

@media (max-width: 390px){
   .project-overview__header{
      gap: 20px;
      width: 300px;
   }
}


@media (max-width: 490px){
   .project-overview__image-container{
      width: 100%;
   }
}


@media (max-width: 490px){
   .project-overview__technologies{
      align-items: center;
   }
}

@media (max-width: 768px){
   .project__features{
      gap: 50px;
   }
}

@media (max-width: 768px){
   .project__feature{
      width: 24%;
   }
}

@media (max-width: 768px){
   .project__challenge,
   .project__solution{
      width: 100%;
   }
}

@media (max-width: 768px){
   .project__wrapper{
      flex-direction: column;
      gap: 40px;
      margin-top: 80px;
   }
}

@media (max-width: 768px){
   .project__feature{
      width: 24%;
   }
}

@media (max-width: 420px){
   .project__features{
      gap: 30px;
   }
}

@media (max-width: 420px){
   .project__feature{
      width: 26%;
   }
}

@media (max-width: 768px){
   .result{
      flex-direction: column-reverse;
      align-items: center;
   }
}

@media (max-width: 768px){
   .result__display{
      width: 80%;
   }
}

@media (max-width: 390px){
   .result__display{
      width: 100%;
   }
}

@media (max-width: 768px){
   .result__description{
      width: 100%;
   }
}