$white: rgba(235, 235, 235, 0.80);
$green: rgba(66, 211, 146, 0.90);
$purple: #647EFF;
$black: #1A1A1A;
$gradient: linear-gradient(90deg, #42D392 1.47%, #647EFF 99.96%);
$gray: rgba(45, 45, 45, 0.90);



