
@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header__container{
   position: relative;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.header__logo{
   background: $gradient;
   font-size: 24px;
   font-weight: 500;
   -webkit-background-clip: text;
   color: transparent; 
   background-clip: text;
   -webkit-text-fill-color: transparent;
   text-transform: uppercase;
}

.nav__list{
   display: flex;
   width: 40vw;
   justify-content: space-between;
   flex-wrap: wrap;
}

.nav__item{
   position: relative;
}

.nav__link{
   display: flex;
   color: $green;

}

.nav__link:hover{
   color: $green;
}

.nav__link::before,
.nav__link::after{
   color: $green;
   position: absolute;
   display: block;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.nav__link::before{
	content: "\02C2";
	left: -16px;
}

.nav__link::after{
	content: "\02C3";
	right: -16px;
}

.nav__link:hover::before,
.nav__link:hover::after {
  opacity: 1;
}

.language-switcher__button{
   background: none;
   border: none;
   color: $white;
   text-transform: uppercase;
   font-weight: 500;
}

.language-switcher__button:hover{
   color: $purple;
}

.header__language-line{
   display: inline-block;
   width: 2px;
   height: 14px;
   background: $white;
   margin: 0 5px;
}

.header__burger,
.header__close {
   display: none;
   width: 50px;
   height: 40px;
   background-size: contain;
   background-repeat: no-repeat;
   border: none;
   z-index: 11;
   cursor: pointer;
   background-color: $black;
}

.header__burger {
   background-image: url("../images/icons/menu-burger.svg");
   background-color: #00000000;
}

.header__close {
   position: absolute;
   top: 4vh;
   background-image: url("../images/icons/close-burger.svg");
}

.hero{
   position: relative;
	width: 100vw;
	padding: 80px 14vw;
   &__inner{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
   }
   &__name{
      display: flex;
      flex-direction: column;
      gap: 40px;
   }
   &__title{
      font-family: 'Poppins', sans-serif;
      font-size: 60px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 4px;   
      &-name{
         background: $gradient;
         -webkit-background-clip: text;
         background-clip: text;
         color: transparent;
      }
   }
   &__actions{
      display: flex;
      gap: 30px;
   }
   &__action{
      padding: 18px 26px;
      border-radius: 100px;
   }
   &__action:hover{
      transform: scale(1.1);
      transition: transform 0.3s linear;
   }
   &__email{
      background: $green;
      color: $black;
      font-weight: 500;
   }
   &__download-cv{
      background: $gray;
      font-weight: 400;
   }
   &__image-container{
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 60px;
   }
   &__image{
      z-index: 2;
   }
   &__image-bg{
      position: absolute;
      left: 60px;
      width: 340px;
      height: 340px; 
      border-radius: 100px;
      opacity: 0.3;
      background: $gradient;
      filter: blur(150px);
      z-index: 1;
   }
   &__social-link{
      z-index: 2;
      position: absolute;
      width: 70px;
      display: block;
      padding: 15px;
      background: $gray;
      border-radius: 100px;
   }
   &__social-link:hover{
      transform: scale(1.2);
      transition: transform 0.3s linear;
   }
   &__social-icons{
      position: relative;
   }
}

.hero__social-link:nth-child(1){
   top: 120px;
   left: -210px;
}

.hero__social-link:nth-child(2){
   top: -20px;
   left: 50px;
}

.hero__social-link:nth-child(3){
   top: 140px;
   left: 190px;
}

.hero__skills-marquee{
   position: absolute;
   left: 0;
}

.skills-marquee__track{
   transform: rotate(-1.7deg);
   margin-top: -20px;
   display: flex;
   border-top: dashed 2px $green; 
   border-bottom: dashed 2px $green; 
   padding: 20px 0;

}

.skills-marquee__skill{
   display: flex;
   align-items: center;
   white-space: nowrap;
   text-transform: uppercase;
   color: $green;
}

.skills-marquee__skill::before{
   content: "";
   display: inline-block;
   width: 8px;
   height: 2px;
   background-color: $green;
   margin: 0 10px;
}

.footer{
   display: flex;
   flex-direction: column;
   position: relative;
   gap: 50px;
   margin-bottom: 80px;
   &__socials{
      display: flex;
      justify-content: space-between;
      width: 400px;
      margin-top: 160px;
   }
   &__social-link{
      display: inline-block;
      padding: 15px;
      border-radius: 100px ;
      background-color: $gray;
   }
   &__social-link:hover{
      transform: scale(1.1);
      transition: transform 0.3s linear;
      cursor: pointer;
   }
   &__email{
      font-size: 40px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      letter-spacing: 1.2px;
   }
   &__nav-list{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 40vw;
   }
   &__navigation{
      margin-top: 20px;
   }
}







@import "mobile";