@import "vars";
@import "fonts";
@import "reset";
@import "global";

// Контейнер хедера
.header__container {
   position: relative;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

// Логотип с градиентом
@keyframes gradientAnimation {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

.header__logo {
   font-size: 24px;
   font-weight: 500;
   text-transform: uppercase;
   background: linear-gradient(270deg, #42d392, #647eff, #42d392, #647eff);
   background-size: 200% 200%;
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: gradientAnimation 6s ease infinite;
}

// Навигационный список
.nav__list {
   display: flex;
   width: 40vw;
   justify-content: space-between;
   flex-wrap: wrap;
}

// Пункты навигации
.nav__item,
.footer__nav-item {
   position: relative;
}

// Ссылки навигации
.nav__link,
.footer__nav-link {
   display: flex;
   color: $green; // Цвет ссылок
}

// Ховер эффект для ссылок
.nav__link:hover,
.footer__nav-link:hover {
   color: $green;
}

// Псевдоэлементы для ссылок
.nav__link::before,
.nav__link::after,
.footer__nav-link::before,
.footer__nav-link::after {
   color: $green;
   position: absolute;
   display: block;
   opacity: 0;
   transition: opacity 0.3s ease;
}

// Контент псевдоэлементов
.nav__link::before,
.footer__nav-link::before {
   content: "\02C2";
   left: -16px;
}
.nav__link::after,
.footer__nav-link::after {
   content: "\02C3";
   right: -16px;
}

// Появление псевдоэлементов при ховере
.nav__link:hover::before,
.nav__link:hover::after,
.footer__nav-link:hover::before,
.footer__nav-link:hover::after {
   opacity: 1;
}

// Стили переключателя языков
.language-switcher__button {
   background: none;
   border: none;
   color: $white;
   text-transform: uppercase;
   font-weight: 500;
   &:hover {
      color: $purple;
   }
}

// Стили для активного переключателя
.language-switcher__button--active {
   color: $purple !important;
}

// Линия между кнопками смены языка
.header__language-line {
   display: inline-block;
   width: 2px;
   height: 14px;
   background: $white;
   margin: 0 5px;
}

// Бургер меню и кнопка закрытия
.header__burger,
.header__close {
   display: none;
   width: 50px;
   height: 40px;
   background-size: contain;
   background-repeat: no-repeat;
   border: none;
   z-index: 11;
   cursor: pointer;
   background-color: $black;
}

.header__burger {
   background-image: url("../images/icons/menu-burger.svg");
   background-color: transparent;
}

.header__close {
   position: absolute;
   top: 4vh;
   background-image: url("../images/icons/close-burger.svg");
}

// Позиционирование социальных иконок
.hero__social-link:nth-child(1) {
   top: 120px;
   left: -210px;
   animation: float1 4s ease-in-out infinite;
}
.hero__social-link:nth-child(2) {
   top: -20px;
   left: 50px;
   animation: float2 5s ease-in-out infinite;
}
.hero__social-link:nth-child(3) {
   top: 140px;
   left: 190px;
   animation: float3 6s ease-in-out infinite;
}

// Определение анимаций парения
@keyframes float1 {
   0%,
   100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-10px);
   }
}

@keyframes float2 {
   0%,
   100% {
      transform: translateY(-10px);
   }
   50% {
      transform: translateY(10px);
   }
}

@keyframes float3 {
   0%,
   100% {
      transform: translateY(-10px);
   }
   50% {
      transform: translateY(5px);
   }
}

// Стилизация главной hero секции
.hero {
   position: relative;
   width: 100vw;
   padding: 120px 14vw 80px;

   // Внутренняя структура hero секции
   &__inner {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   // Название и действия в hero секции
   &__name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 360px;
      width: 500px;
      gap: 40px;
   }

   // Заголовок hero секции
   &__title {
      font-family: "Poppins", sans-serif;
      font-size: 60px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 4px;

      // Особый стиль для имени в заголовке
      &-name {
         position: relative;
         background: linear-gradient(270deg, #42d392, #647eff, #42d392, #647eff);
         background-size: 200% 200%;
         -webkit-background-clip: text;
         background-clip: text;
         -webkit-text-fill-color: transparent;
         animation: gradientAnimation 6s ease infinite;
      }
   }

   // Кнопки в hero секции
   &__actions {
      display: flex;
      gap: 30px;
   }

   // Стиль кнопок действия
   &__action {
      display: flex;
      text-align: center;
      padding: 18px 26px;
      border-radius: 100px;

      // При наведении масштабирование кнопки
      &:hover {
         transform: scale(1.1);
         transition: transform 0.3s linear;
      }
   }

   // Стиль кнопки email
   &__email {
      background: $green;
      color: $black;
      font-weight: 500;
   }

   // Стиль кнопки скачивания резюме
   &__download-cv {
      background: $gray;
      font-weight: 400;
   }

   // Контейнер для изображения
   &__image-container {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 60px;
   }

   // Стилизация фона изображения
   &__image-bg {
      position: absolute;
      left: 60px;
      width: 340px;
      height: 340px;
      border-radius: 100px;
      opacity: 0.3;
      background: $gradient;
      filter: blur(150px);
      z-index: -1;
   }

   // Стили для социальных иконок
   &__social-link {
      z-index: 2;
      position: absolute;
      width: 70px;
      padding: 15px;
      background: $gray;
      border-radius: 100px;

      // При наведении масштабирование иконки
      &:hover {
         animation: float4 1s linear;
      }
   }

   // Относительное позиционирование для социальных иконок
   &__social-icons {
      position: relative;
   }
}

@keyframes float4 {
   0%,
   100% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.2);
   }
}

// Стили бегущей строки навыков
.hero__skills-marquee {
   position: absolute;
   left: 0;
}

.skills-marquee__track {
   position: absolute;
   display: flex;
   align-items: center;
   animation: marquee-animation 20s linear infinite;
   white-space: nowrap;
   border-top: dashed 2px $green;
   border-bottom: dashed 2px $green;
   padding: 20px 0;
   margin-top: -20px;
   transform: rotate(-17.7deg);
   overflow: hidden;

   &:after {
      color: $green;
      text-transform: uppercase;
      content: "Web Design - UX/UI - Adaptive - layout - CSS animation - Java Script - WordPress - Gulp - Redisign - Valid layout - BEM - Cross-browser - Git - Figma - SASS/SCSS - HTML5+CSS3 - Web Design - UX/UI - Adaptive - layout - CSS animation - Java Script - WordPress - Gulp - Redisign - Valid layout - BEM - Cross-browser - Git - Figma - SASS/SCSS - HTML5+CSS3 - ";
   }
}

.skills-marquee__skill {
   color: $green;
   text-transform: uppercase;

   &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 2px;
      background-color: $green;
      margin: 0 10px;
   }
}

.hero__skills--footer-marquee {
   transform: rotate(2deg);
   margin-top: -10px;
}

.hero__skills--header-marquee {
   transform: rotate(-1.7deg);
   margin-top: -10px;
   bottom: 14px;
}

@keyframes marquee-animation {
   0% {
      transform: translateX(-40%);
   }
   100% {
      transform: translateX(0%);
   }
}

// Футер
.footer {
   display: flex;
   flex-direction: column;
   position: relative;
   gap: 50px;
   margin-bottom: 80px;

   // Социальные иконки в футере
   &__socials {
      display: flex;
      justify-content: space-between;
      width: 400px;
      margin-top: 160px;
   }

   // Стиль социальных ссылок
   &__social-link {
      display: inline-block;
      padding: 15px;
      border-radius: 100px;
      background-color: $gray;
      &:hover {
         transform: scale(1.1);
         transition: transform 0.3s linear;
         cursor: pointer;
      }
   }

   // Стиль для электронной почты
   &__email {
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      letter-spacing: 1.2px;
   }

   // Навигационный список в футере
   &__nav-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 30vw;
   }

   // Контейнер навигации
   &__navigation {
      margin-top: 20px;
   }
}

// Раздел навыков
.skills {
   flex-direction: column;

   // Категории навыков
   &__categories {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
   }

   // Список навыков
   &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
   }

   // Элемент списка навыков
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22vw;
      padding: 19px 30px;
      border-radius: 10px;
      border: 1px solid var(--light, rgba(235, 235, 235, 0.6));
      text-align: center;
   }
}

.skills__item,
.education,
.about-me,
.soft-skills,
.languages,
.projects__item {
   // Исходное состояние
   opacity: 0;
   transform: translateY(20px);
   transition:
      opacity 0.6s ease-out,
      transform 0.6s ease-out;

   // Состояние при появлении в области видимости
   &.in-view {
      opacity: 1;
      transform: translateY(0);
   }
}

// Стилизация блока проектов
.projects {
   display: inline-flex;
   flex-direction: column;

   // Контейнер для элементов проекта
   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 50px;
   }

   // Элемент проекта
   &__item {
      display: flex;
      position: relative;
      width: 30%;

      // Информация о проекте появляется при наведении
      &:hover .projects__info {
         opacity: 1;
      }
   }

   // Информационный блок внутри элемента проекта
   &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease;
      border-radius: 16px;
      background: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.8));
   }

   // Название проекта
   &__name {
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
   }

   // Кнопка в информационном блоке
   &__btn {
      background: $green;
      border-radius: 50px;
      padding: 14px 22px;
      color: $black;
      font-weight: 500;
      font-size: 16px;

      // Эффект наведения для кнопки
      &:hover {
         transform: scale(1.1);
         transition: transform 0.3s linear;
      }
   }

   // Изображение проекта
   &__image {
      border-radius: 16px;
      width: 100%;
      height: auto;
   }
}

// Стилизация основных контейнеров для разделов навыков и образования
.skills-languages,
.about-education {
   justify-content: space-between;
}

// Общие стили для разделов софт-скиллов, языков, обо мне и образования
.soft-skills,
.languages,
.about-me,
.education {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
   border-radius: 20px;
   padding: 30px;
   background: $black;
   z-index: 1;

   // Декоративные фоны для блоков
   &-bg:nth-child(2n + 1) {
      // Подложка для фона
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black;
      border-radius: 20px;
      z-index: -1;
   }
   &-bg:nth-child(2n) {
      // Градиентный фон
      position: absolute;
      margin: -1px;
      top: -0.25%;
      left: -0.25%;
      bottom: -0.5%;
      right: -0.4%;
      background: $gradient;
      border-radius: 20px;
      z-index: -2;
   }

   // Заголовок для каждого блока
   &__title {
      margin-bottom: 40px;
   }
}

// Стили для разделов софт-скиллов и обо мне
.soft-skills,
.about-me {
   width: 59%;

   // Список для софт-скиллов и обо мне
   &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style-type: disc;
      margin-left: 40px;
      width: 90%;
   }

   // Пункт списка
   &__item {
      margin-bottom: 0.5rem;
   }
}

// Стили для разделов языков и образования
.languages,
.education {
   width: 38%;

   // Список для языков и образования
   &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      list-style: none;
      width: 90%;
   }

   // Элемент списка для языков и образования
   &__item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 0.5rem;
   }

   // Название языка
   &__name {
      font-family: "Poppins", sans-serif;
      color: $green;
      text-transform: uppercase;
      font-weight: 400;
   }

   // Уровень владения языком
   &__level {
      display: flex;
      align-items: center;

      // Точка уровня владения языком
      .languages__level-dot {
         width: 18px;
         height: 18px;
         border-radius: 50%;
         background-color: transparent;
         border: solid 1px $white;
         margin-right: 5px;

         // Активный уровень владения языком
         &--active {
            background-color: $white;
         }
      }
   }
}

.education {
   &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
   }
   &__time,
   &__institution {
      font-size: 14px;
      font-weight: 300;
      width: 76%;
   }
}

.languages__lavel {
   flex-wrap: wrap;
   gap: 5px;
   width: 100%;
}

.languages__lavel-text {
   font-size: 1rem;
   margin-left: 10px;
}

.about-me {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.soft-skills__list,
.about-me__content {
   margin-left: 20px !important;
   width: 90%;
}

.project-preview {
   margin-top: 80px;
   margin-bottom: 3vw;
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.project-overview {
   position: relative;
   &-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 80px;
   }
   &__image-container {
      width: 50%;
   }
   &-icon-link {
      display: flex;
      gap: 20px;
      gap: 20px;
      align-items: flex-end;
   }
   &__title {
      position: relative;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02em;
      font-family: "Poppins", sans-serif;
      position: relative;
      background: linear-gradient(270deg, #42d392, #647eff, #42d392, #647eff);
      background-size: 200% 200%;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientAnimation 6s ease infinite;
   }
   &__title::after {
      content: " ";
      position: absolute;
      display: inline-block;
      width: 60%;
      height: 1px;
      background: $green;
      bottom: -10px;
      left: 0;
   }
   &__subtitle {
      color: $white;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
   }
   &__link {
      color: $green;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      text-decoration-line: underline;
   }
   &__link:hover {
      color: #647eff;
   }
   &__technologies {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-title {
         color: $white;
         text-transform: uppercase;
         font-weight: 600;
         font-size: 20px;
      }
      &-item {
         font-size: 20px;
         font-weight: 500;
         list-style-type: disc;
         margin-left: 20px;
      }
      &-list {
         display: flex;
         flex-direction: column;
         gap: 4px;
      }
   }
   &__header {
      display: flex;
      flex-direction: column;
      gap: 28px;
   }
}

.project{
   width: 100%;
   flex-direction: column;
   display: flex;
   flex-direction: column;
   gap: 100px;
   &__features{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   &__heading{
      color: $green;
   }
   &__challenge{
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 48%;
   }
   &__solution{
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 48%;
   }
}

.project__feature {
   width: 110px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   &-item-circle {
      display: flex;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background: #41a7cc;
      align-items: center;
      justify-content: center;
   }
   &-item {
      width: 62px;
      height: 62px;
      border-radius: 100px;
      background: #41a7cc;
      border: 2px solid $black;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &-text{
      text-align: center;
      font-size: 16px;
      line-height: normal;
   }
}

@import "mobile";
